@import 'src/styles/common.scss';
.main {
  display: flex;
  min-height: calc(100vh - $header-height);
  &__navigation {
    width: 18%;
    background-color: $navigation-background-color;
  }

  &__content {
    width: 82%;
  }
}