$white-color: #fff;
$black-color: #000;
$headers-background-color: #DA2032;
$ligth-gray-color: #e5e5e5;
$main-background-color: #F5F6F7;
$navigation-background-color: #666F78;
$text-grey-color: #666F78;

$header-height: 70px;
